
body {
  padding-top: 56px;
}

/****cabecera-menunav****/
header a {
  color: #fff;
  text-decoration: none;
}
/*top*/
header {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.redes-sociales {
  display: flex;
  margin: 0 1em;
}
.redes-sociales ul {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.redes-sociales li {
  list-style: none;
}
.redes-sociales li:last-child{
  margin-right:0;
}
.redes-sociales a {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}
.redes-sociales a:hover {
  color: #fff;
  text-decoration: none;
}
.fb {
  background: #2b1100;
}
.tw {
  background: #2b1100;
}
.yt {
  background: #2b1100;
}
.pinterest {
  background: #2b1100;
}
.instagram {
  background: #2b1100;
}
.tiktok{
  background-color: #2b1100;
}
.whatsapp {
  background-color: #2b1100;
}
.telegram {
  background-color: #2b1100;
}
.fa-star-o::before {
  content: "\f006";
}


.container {
  max-width: 1140px; /* Ajusta el ancho máximo según tus necesidades */
}

.brand {
  margin-top: 15px; /* Ajusta la separación superior según tu preferencia */
}

.redes-sociales {
  margin-top: 15px; /* Ajusta la separación superior según tu preferencia */
}

.redes-sociales ul {
  padding: 0;
  list-style: none;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px; /* Espacio entre íconos de redes sociales */
}

.navbar {
  margin-top: 20px; /* Ajusta la separación superior según tu preferencia */
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 767px) {
  .redes-sociales {
      display: none; /* Oculta los íconos de redes sociales en dispositivos pequeños */
  }

  .navbar-collapse {
      text-align: center; /* Centra los elementos del menú de hamburguesa */
  }

  .navbar-nav {
      margin-top: 10px; /* Ajusta la separación superior del menú de hamburguesa según tu preferencia */
  }

  .navbar-toggler {
      margin-top: 10px; /* Ajusta la separación superior del botón de hamburguesa según tu preferencia */
  }
}